<h1><%= @service.name %></h1>
    
    <h4>Service Description</h4>
    <p><%= @service.description %></p>
    <p>Service Price:<%= @service.price %></p>
    <p>Service Time:<%= @service.time %></p>

    <p><a href="/user_items/new/<%= @service.id %>">add to cart</a> </p>
   
    <% service_link = "/dealerservices" %>
    <p><a href="<%= service_link %>">Return to Main Page</a></p>
