<h1> PWA Dealer Services </h1>
<br /><br />
<body>
    <h4><%= current_user.username %>, you hare <%= @newitems.count %> items selected.  Here is assumary of services selected for your next visit.</h4>
    <br /><br />

    <% @newitems.each do |i| %>
    
        <ol>
            <li><%= DealerService.find_by_id(i.dealer_services_id).name %>
            <strong>Special request:</strong> <%= i.comment %>
            <%= DealerService.find_by_id(i.dealer_services_id).price %> 
            
            <p><a href="/user_items/<%= i.id %>/edit">edit</a> </p>
            
            <form action="/user_items/<%= i.id %>" method="POST">
                <input type="hidden" name="_method" value= "delete">
                <input type="submit" value="Delete">

            </li>
        </ol>
    
    <% end %>
    <br /><br />
    <li> <p><a href="/dealerservices"> back to list of services</a> </p>

    <p><a href="/users/account"> click here to log out </a> </p> </li>

</body>